html body {
  background-color: #95CB9A;
}

.App {
  height: 100vh;
}

.Title {
  margin-left: 1em;
  margin-top: 1em;
  font-size: 1.7em;
}

.Title span {
  padding: 0.6em;
  background-color: white;
  border-radius: 12px;
  color: #95CB9A;
}

.Container {
  margin: auto;
  width: 40%;
  height: 80%;
  padding: 10px;
  text-align: center;
  background-color: white;
  border-radius: 16px;
  font-size: 1.4em;
}

.Container img {
  height: auto;
  width: 85%;
  max-height: 50vh;
  margin-top: 2em;
  margin-bottom: 2em;
}

.Watering{
  margin-top: 2em;
}

.Watering button{
  background-color: #95CB9A;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 12px;
  border: none;
  color: white;
}

.Watering button:hover {
  background-color: white;
  border: 1px solid #95CB9A;
  color: #95CB9A;
  cursor: pointer;
}

.Statistics {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
